body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
}


#container{
    width: 550px;
    height: 729px;
    border-radius: 10;
}

#conversion-card{
height: 30%;
display: flex;
flex-direction: column;
justify-content: center; 
align-items: center;
background: #6943FF;
gap: 20px;
padding-bottom: 20px;
border-radius: 10px 10px 0px  0px;
}

#explanation-card{
    background: #1F2937;
    height: 444px;
    padding: 20px;
    margin: 0px;
    border-radius: 0px 0px 10px  10px;
}

.unit-measured p{
color: white;
}

.unit-measured h2{
    color: #CCC1FF
}

.unit-measured{
    display: flex;
flex-direction: column;
justify-content: center; 
align-items: center;
background: #273549;
margin: 20px;
}

#user-input{
    height: 83px;
    width: 117px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
    background: none;
    text-align: center;
}
#convertBtn{
    width: 117px;
    height: 42px;
}